body {
  background-image:url('../images/torch.gif');
  background-attachment:fixed;
  font-family:Arial;
  font-size:small;
}.box{    float:left;    margin-right:20px;}.clear{    clear:both;}
img {
  border-width:0;
  vertical-align:middle;
}
table {
  background-image:none;
  border-style:outset;
  border-width:5px;
  margin-left:5%;
  width:90%;
}
td, th {
  border-width:1px;
  border-style:inset;
  padding:5px;
}
.gradtable {
  margin-left:25%;
  margin-right:20%;
  background-color:#ffffff;
}
.infotable {
  margin-left:40px;
  margin-right:0px;
  border-width:0px;
  width:90%;
  padding:0px;
  border-spacing:0px;
  border-collapse:collapse;
  white-space:nowrap;
}
.transparent {
  border-width:0px;
  padding:0px;
  border-spacing:0px;
  white-space:nowrap;
  text-align:center;
}
h1 {
  text-align:center;
  font-size:large;
}
h2 {
  font-style:italic;
  font-size:larger;
}
h3 {
  font-size:small;
}
.footer {
  text-align:center;
  font-size:smaller;
  font-weight:bold;
}
.emphasis {
  color:#ff0000;
  font-weight:bold;
  text-align:center;
  font-style:italic;
}
.dropcap {
  font-size:larger;
  font-weight:bold;
}
.tt {
  font-family:Courier New;
  font-size:90%
}
.backtotop {
  text-align:right;
  font-size:smaller;
}
.blockindent {
  margin-left:40px;
  margin-right:20px;
  text-align:justify;
}
.indented {margin-left:40px;}
.centered {text-align:center;}
.justified {text-align:justify;}
.rightalign {text-align:right;}
.leftalign {text-align:left;}
.nowrap {white-space:nowrap;}
.normal {font-weight:normal;}
.bordered {border:2px solid;}
.red {color:#ff0000;}

